/* Color Palette */
$text-error-color: #e7000b;
$text-muted-color: #737373;

$main-bg-color: #fafafa;

$border-gray-color: #d9d9d9;
$border-error-color: $text-error-color;

/* Sizes */
$text-base: 14px;
$text-lg: 16px;
$text-3xl: 1.875rem;
$text-2xl: 1.5rem;
