@mixin flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

.faux-body {
  padding: 2rem;
}

.error-message {
  color: var(--wx-color-danger);
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app-content {
  display: flex;
  flex: 1;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;

  main {
    height: 100%;
  }
}

section {
  @include flex-center;
  width: 100%;
  gap: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
