@mixin flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 2rem;
}

.faux-body {
  @include flex-center;

}

.error-message {
  color: var(--wx-color-danger);
}

h2 {
  color: $blue;
  font-size: 2rem;
}

section {
  @include flex-center;
  width: 100%;
  gap: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
