@import "@awesome.me/kit-3be39f19c7/icons/css/all.css";

@mixin flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.error-message {
  color: var(--wx-color-danger);
}

section {
  @include flex-center;
  width: 100%;
  gap: 1rem;
}

.left-header {
  align-self: flex-start;
  width: 100%;
}

.icon {
  font-size: 1.1rem;
  margin-right: 0.3rem;
}
