@mixin flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app-wrapper {
  --wx-color-primary: #{$orange};
  --wx-input-border-focus: 1px solid #{$orange};

  --wx-table-select-background: #{$white};
  --wx-table-select-border: inset 3px 0 #{$orange};
  --wx-table-header-background: #{$blue};

  .wx-grid .wx-header {
    color: $white;
  }
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 2rem;
}

.faux-body {
  @include flex-center;

}

.error-message {
  color: var(--wx-color-danger);
}

h2 {
  color: $blue;
  font-size: 2rem;
}

section {
  @include flex-center;
  width: 100%;
  gap: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
