.app-wrapper {
  --wx-color-primary: #{$orange};
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.faux-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  color: $blue;
  font-size: 3rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
